.header {
    font-family: inherit;
    background-color: #ffffff;
    position: sticky;
}

.header a {
    color: black;
    text-decoration: none;
}

#button {
    border-radius: 25px;
    background-color: #4db7fe;
}

#button a {
    color: white;
    padding: 0 12px;
}

section {
    margin: 0;
    padding: 0;
}

.title-wrap {
    display: block;
    background: #2b87e7;
    opacity: 0.8;
    width: 100%;
    height: 780px;
    padding-top: 50px;
}

.title {
    margin: 5%;
    padding: 100px 10px;
}

.title h1 {
    font-size: 55px;
    width: 80%;
    margin: 0 auto;
    font-weight: 700;
    color: white;
    padding-bottom: 20px;
}

.title h3 {
    color: white;
    font-size: 40px;
    font-weight: 600;
}

.media {
    overflow: hidden;
    position: static;
}

.media video {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
}

.content {
    background-color: #ffffff;
    margin: 50px;
    max-width: 1000px;
}

.content-box {
    padding: 15px 20px 15px 100px;
    overflow: hidden;
    position: relative;
}

#content-row {
    flex-wrap: wrap;
    display: flex;
}

.content-box .icon {
    position: absolute;
    left: 10px;
    top: 20px;
    width: 70px;
    height: 70px;
}

.icon {
    background-image: url(https://eduwork.id/images/clouds.png);
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
}

.content-box h3 {
    text-align: left;
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 15px;
    color: #4DB7FE;
    display: block;
}

.content-box p {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 10px;
    font-weight: 400;
    color: #878C9F;
}

#tv,
#cogs {
    margin-left: 10px;
    margin-top: 10px;
}

#user {
    margin-top: 10px;
    margin-left: 20px;
}

.title .regis-btn {
    margin-top: 35px;
    border-radius: 25px;
}

.title a {
    font-size: 20px;
    text-decoration: none;
    background: #04436d;
    border-radius: 30px;
    color: whitesmoke;
    font-weight: 700;
    padding: 10px 15px;
}